<div class="p-2 rounded-4 shadow border bg-secondary" data-aos="fade-up">

	<img [src]="product.img" alt="img" class="object-fit-cover w-100 rounded-4 shadow border" style="height: 250px">

	<hr>

	<p class="fs-4 m-0 text-center">{{ product.name }}</p>

	<p *ngIf="checkOwner() || getRole() === 'MANAGER'" class="fs-5 m-0">{{ 'Статус: ' + product.statusName }}</p>
	<p class="fs-5 m-0">{{ 'Категория: ' + product.category }}</p>
	<p class="fs-5 m-0">{{ 'Количество: ' + product.count }}</p>
	<p class="fs-5 m-0">{{ 'Цена: ' + product.price }}</p>

	<hr>

	<a appNavigate [navigateURL]="'product'" [queryParams]="{ id: product.id }"
	   class="btn btn-primary w-100 rounded-4 shadow">Подробнее</a>

</div>
