<div class="container">

	<h1 class="text-center mb-5" data-aos="zoom-in">Обновить</h1>

	<div class="d-flex justify-content-center mb-5" data-aos="zoom-in">
		<a appNavigate [navigateURL]="'/product'" [queryParams]="{id: id}" class="btn btn-primary">Назад</a>
	</div>

	<form [formGroup]="productForm" (ngSubmit)="update()" class="row" data-aos="fade-up">
		<div class="col-6 mb-2">
			<p class="fs-4 m-0">Наименование</p>
			<input type="text" class="form-control" formControlName="name" minlength="1" maxlength="255">
		</div>
		<div class="col-6 mb-2">
			<p class="fs-4 m-0">Связующее имя</p>
			<input type="text" class="form-control" formControlName="bind" minlength="1" maxlength="255">
		</div>
		<div class="col-4 mb-2">
			<p class="fs-4 m-0">Категория</p>
			<input type="text" class="form-control" formControlName="category" list="category" minlength="1" maxlength="255">
			<datalist id="category">
				@for (i of categories; track i.id) {
					<option [value]="i.name">
						}
			</datalist>
		</div>
		<div class="col-4 mb-2">
			<p class="fs-4 m-0">Количество</p>
			<input type="number" class="form-control" formControlName="count" min="1" max="1000" step="1">
		</div>
		<div class="col-4 mb-2">
			<p class="fs-4 m-0">Цена</p>
			<input type="number" class="form-control" formControlName="price" min="0.01" max="1000" step="0.01">
		</div>
		<div class="col-12 mb-2">
			<p class="fs-4 m-0">Описание</p>
			<textarea class="form-control" formControlName="description" minlength="1" maxlength="5000"></textarea>
		</div>
		<div class="col-12 mb-2">
			<button *ngIf="productForm.valid" type="submit" class="btn btn-success w-100">Обновить</button>
		</div>
	</form>


</div>
