<div class="container">

	<h1 class="text-center mb-3" data-aos="zoom-in">{{ product.name }}</h1>

	<div class="d-flex justify-content-center mb-3 row" data-aos="zoom-in">
		<div class="col-auto">
			<a appNavigate [navigateURL]="'products'" class="btn btn-primary" role="button">Назад</a>
		</div>
		<div *ngIf="checkOwner()" class="col-auto">
			<a appNavigate [navigateURL]="'productUpdate'" [queryParams]="{id: id}" class="btn btn-success"
			   role="button">Обновить</a>
		</div>
		<div *ngIf="checkOwner()" class="col-auto">
			<a (click)="delete()" class="btn btn-danger" role="button">Удалить</a>
		</div>

		<div *ngIf="role === 'MANAGER' && product.status === 'WAITING'" class="col-auto">
			<a (click)="active()" class="btn btn-secondary" role="button">Подтвердить</a>
		</div>
		<div *ngIf="checkOwner() && product.status !== 'ARCHIVE'" class="col-auto">
			<a (click)="archive()" class="btn btn-secondary" role="button">В архив</a>
		</div>
		<div *ngIf="checkOwner() && (product.status === 'ARCHIVE' || product.status === 'REFINE')" class="col-auto">
			<a (click)="waiting()" class="btn btn-secondary" role="button">На проверку</a>
		</div>
	</div>

	<div *ngIf="role === 'MANAGER' && (product.status === 'WAITING' || product.status === 'ACTIVE')" class="mb-3" data-aos="zoom-in">
		<textarea [(ngModel)]="refineMessage" class="form-control mb-2" placeholder="Причина доработки"></textarea>
		<a (click)="refine()" *ngIf="refineMessage.length > 0" class="btn btn-secondary w-100" data-aos="zoom-in"
		   role="button">На доработку</a>
	</div>

	<div class="row mb-3" data-aos="fade-up">
		<div class="col-3">
			<img [src]="product.img" alt="img" class="object-fit-cover w-100" style="height: 400px">
		</div>
		<div class="col">
			<div *ngIf="role === 'USER'" class="row" data-aos="fade-up">
				<div class="col">
					<input type="number" [min]="1" [max]="product.count" class="form-control" [(ngModel)]="count">
				</div>
				<div *ngIf="count > 0" class="col-auto" data-aos="zoom-in">
					<button type="button" class="btn btn-primary" (click)="ordering()">Заказать</button>
				</div>
			</div>

			<p *ngIf="checkOwner() || role === 'MANAGER'"
			   class="fs-4 m-0">{{ 'Статус: ' + product.statusName }}</p>
			<p *ngIf="(checkOwner() || role === 'MANAGER') && product.refine.length > 0"
			   class="fs-4 m-0">{{ 'Причина доработки: ' + product.refine }}</p>
			<p *ngIf="checkOwner()" class="fs-4 m-0">{{ 'Связующее слово: ' + product.bind }}</p>
			<p class="fs-4 m-0">{{ 'Категория: ' + product.category }}</p>
			<p class="fs-4 m-0">{{ 'Количество: ' + product.count }}</p>
			<p class="fs-4 m-0">{{ 'Цена: ' + product.price }}</p>
		</div>
		<div class="col-3 overflow-y-auto" style="height: 400px">
			<div *ngFor="let i of productsSorted" [class]="check(i.id)">
				<a (click)="productPage(i.id)" type="button">
					<div class="row">
						<div class="col">
							<img [src]="i.img" alt="img" class="object-fit-cover w-100" style="height: 100px">
						</div>
						<div class="col">
							<p class="fs-5 m-0">{{ i.name }}</p>
							<p class="fs-6 m-0">{{ "Количество: " + i.count }}</p>
							<p class="fs-6 m-0">{{ "Цена: " + i.price }}</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 mt-2">
			<p class="fs-4 m-0">{{ 'Описание: ' + product.description }}</p>
		</div>
	</div>

	<input *ngIf="checkOwner()" type="file" (change)="updateImg($event)" class="form-control mb-3" data-aos="fade-up"
           multiple
           accept="image/*">

	<div *ngIf="product.imgs !== null" class="row">
		@for (img of product.imgs; track img.id) {
			<div class="col-4 mb-2" data-aos="fade-up">
				<a *ngIf="checkOwner()" (click)="deleteImg(img.id)" class="w-100 btn btn-danger rounded-5">Удалить</a>
				<img [src]="img.img" alt="img" class="object-fit-cover p-1 m-1 rounded-5 shadow border w-100" style="height: 500px">
			</div>
		}
	</div>

</div>
