<div class="container">

	<h1 class="text-center mb-5" data-aos="zoom-in">Добавить</h1>

	<div class="d-flex justify-content-center" data-aos="fade-up">
		<a (click)="router.navigate(['/products'])" class="btn btn-primary">Назад</a>
	</div>

	<div *ngIf="message" class="alert alert-primary text-center fw-bold" data-aos="zoom-in" role="alert">
		{{ message }}
	</div>

	<form [formGroup]="productForm" (ngSubmit)="save()" class="row" data-aos="fade-up">
		<div class="col-6 mb-2">
			<p class="fs-4 m-0">Наименование</p>
			<input type="text" class="form-control" formControlName="name" minlength="1" maxlength="255">
		</div>
		<div class="col-6 mb-2">
			<p class="fs-4 m-0">Связующее имя</p>
			<input type="text" class="form-control" formControlName="bind" minlength="1" maxlength="255">
		</div>
		<div class="col-4 mb-2">
			<p class="fs-4 m-0">Категория</p>
			<input type="text" class="form-control" formControlName="category" minlength="1" maxlength="255">
		</div>
		<div class="col-4 mb-2">
			<p class="fs-4 m-0">Количество</p>
			<input type="number" class="form-control" formControlName="count" min="1" max="1000" step="1">
		</div>
		<div class="col-4 mb-2">
			<p class="fs-4 m-0">Цена</p>
			<input type="number" class="form-control" formControlName="price" min="0.01" max="1000" step="0.01">
		</div>
		<div class="col-12 mb-2">
			<p class="fs-4 m-0">Описание</p>
			<input type="text" class="form-control" formControlName="description" minlength="1" maxlength="5000">
		</div>
		<div class="col-12 mb-2">
			<button *ngIf="productForm.valid" type="submit" class="btn btn-primary w-100">Добавить</button>
		</div>
	</form>


</div>
